////////////////////////////////////////////
// 		NAV SELECT MENU
////////////////////////////////////////////
// used for controlling the current modes that are available

// ----------------------------------------
// PARENT  ------------------
// ----------------------------------------
nav.selectMenu {
	display: none;
}
// ----------------------------------------
// END PARENT  ------------------
// ----------------------------------------

////////////////////////////////////////////
// 		END NAV SELECT MENU
////////////////////////////////////////////

////////////////////////////////////////////
// 		SHOW CASE
////////////////////////////////////////////
// this is the section that carries the 3 floating cards that will be filled with the character data

section.showcase {
	@include sectionPadding041515(2%,2%);

	// flexbox parent
	@include flexboxRow1;
	align-items: flex-start;
	// align-items: flex-end;

	position: relative;	
}

// ----------------------------------------
// Character Entries  ------------------
// ----------------------------------------

// Parent  ------------------------------------------------

// enable keyframe animation for section.characterEntry
// @include animationHoverEntry1;

section.characterEntry {
	padding: 1%;
	border-radius: 10px;
	border: 3px solid $marvelDarkSky;

	// flexbox child
	flex: 1 33%;
	flex: 1 29%;

	// add margin, adjust flexbox child
	margin: 0 2% 0 2%;

	// 3D
	transform-style: preserve-3d;
	perspective: 1200px;

	// to allow the tooltip to be positioned relative to this parent
	position: relative;
}

// section.showcase os nth-child(0)
section.characterEntry:nth-child(1) {
	background: $marvelNavyBlue;
	// matrix still isn't understood, opted for the less complex version
	transform: matrix(1,-0.5,0,1,0,0);
	// transform: 	translateX(0.5625em) translateY(7.125em) translateZ(-50em) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(-39deg);
}
section.characterEntry:nth-child(2) {
	background: $marvelShieldGreen;
}
section.characterEntry:nth-child(3) {
	background: $marvelPurple;
	transform: matrix(1,0.5,0,1,0,0);
	// transform: 	translateX(-0.4375em) translateY(7.125em) translateZ(-50em) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(39deg);
}

// END Parent ------------------------------------------------

// Form  ------------------------------------------------
section.characterEntry form {
	display: block;
	width: 100%;
	@include sectionMargins041515(0,10%);

	//flexbox parent
	@include flexboxRow1;

	label {
		display: inline-block;
		@include marginPaddingReset1;
		text-align: center;

		//flexbox child
		flex: 1 25%;
	}

	input {
		display: inline-block;
		@include marginPaddingReset1;
		// remove default border
		border: none;
		border-radius: 5px;

		// text within field
		padding: 2%;
		text-align: center;

		//flexbox child
		flex: 1 75%;
	}
}
// END Form ------------------------------------------------


// TOOL TIP  ------------------------------------------------
aside.tooltip {
	position: absolute;
	width: 10em;
	height: 5em;
	background: $marvelRedRGBA1;
	right: 0;
	top: 33%;

	padding: 2%;

	// flexbox parent
	@include flexboxColumn1;
	justify-content: center;

	// DEFAULT DISPLAY STATUS
	display: none;

	p {
		display: inline-block;
		@include marginPaddingReset1;
		text-align: center;
	}
}
// END TOOL TIP ------------------------------------------------


// Article  ------------------------------------------------

section.characterEntry article {
	width: 100%;

	.imgFrame {
		width: 100%;
	}

	.imgFrame img {
		max-width: 100%;
		border-radius: 5px;
	}

	h2 {
		font-size: $basefontsize*2;
		font-weight: bold;
		@include sectionMargins041515(8%,5%);
	}

	p.description {
		font-style: italic;
		position: relative;
		display: block;
		&::before {
			// position: absolute;
			// @include blockquoteCodeGrey;
			@include beforeAfterIconPlace042215a('\f10d');
			font-size: $basefontsize*0.75;
			color: $marvelRed;
		}
		&::after {
			@include beforeAfterIconPlace042215a('\f10e');
			font-size: $basefontsize*0.75;
			margin:0px 0px 0px 10px;
			color: $marvelRed;
		}
	}

	a.readMore {
		font-weight: bold;
		&::after {
			@include beforeAfterIconPlace042215a('\f101');
			font-size: $basefontsize*0.75;
			margin:0px 0px 0px 10px;
			color: $marvelRed;
		}
	}
}

// END Article ------------------------------------------------


// ----------------------------------------
// END Character Entries  ------------------
// ----------------------------------------

////////////////////////////////////////////
// 		END SHOW CASE
////////////////////////////////////////////

////////////////////////////////////////////
// 		DISPLAY DISC
////////////////////////////////////////////

// ----------------------------------------
// Parent  ------------------
// ----------------------------------------
section.displayDisc {
	// make it round
	border-radius: 50%;
	// alter the plane of the circle with perspective or skew
	
	// if we want this area to vanish until the comics are displayed then you should set padding-top and padding-bottom using jQuery
	// @include sectionPadding041515(10%,10%);

	// because I don't know how many exploreUnits will be added by a call we shouldn't set a specific width to anything
	@include flexboxRow1;
}
// ----------------------------------------
// END Parent  ------------------
// ----------------------------------------

// ----------------------------------------
// Explore Unit  ------------------
// ----------------------------------------
section.exploreUnit {
	width: 172px;
	// height: 278px;

	// for the modal frame
	position: relative;

	// while using flexbox the tops and bottoms are right up against each other
	// this may change during responsive CSS coding
	@include sectionMargins041515(0,1.5%);

	@include transitionEffectAllEaseIn(0.5s);

	.imgFrame {
		width: auto;
		height: auto;
	}

	.imgFrame img {
		max-width: 100%;
	}
}

// when you hover over exploreUnit, the .frame appears 
section.exploreUnit:hover > .frame {
	display: flex;
}

// ----------------------------------------
// END Explore Unit  ------------------
// ----------------------------------------

// ----------------------------------------
// Modal Frame  ------------------
// ----------------------------------------
section.exploreUnit .frame {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	// to shift the buttons away from bottom
	padding: 0 0 5% 0;

	// modal background
	// background: $marvelRedRGBA1;
	@include exploreUnitFrameGradient1($marvelLightBlueRGBA1,$marvelRedRGBA1);

	//flexbox parent
	// display: flex
	@include flexboxColumn1;
	justify-content: flex-end;
	align-content: flex-end;

	@include transitionEffectAllEaseIn(0.5s);

	//default display
	display: none;

	button {
		@include sectionMargins041515(10%,2%);
		font-size: $basefontsize*0.75;
	}
}
// ----------------------------------------
// END Modal Frame  ------------------
// ----------------------------------------



////////////////////////////////////////////
// 		END DISPLAY DISC
////////////////////////////////////////////