////////////////////////////////////////////
// 		SETUP STUFF
////////////////////////////////////////////


////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////


////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////

// FONTS  ------------------------------------------------
// for headers
// $montserrat: 'Montserrat', sans-serif;
// for text
// $lora: 'Lora', serif;
// // END FONTS ------------------------------------------------

// COLOURS  ------------------------------------------------
// colours must go before the base
$marvelGrey: #222222;
$marvelRed: #F0141E;
$marvelNavyBlue: #0E2430;
$marvelLightBlue: #122934;
$marvelShieldGreen: #002725;
$marvelDarkGreen: #002221;
$marvelPurple: #492647;
$marvelDarkSky: #171C22;
// // END COLOURS ------------------------------------------------

// BASE  ------------------------------------------------

// NOTE:  the font family may have been placed on all elements for the base and header... see style.scss

$basefontfamily:'Open Sans', sans-serif;
$basefontsize:16px;
$baselineheight:16px;
$baseFontColor: black;
$baseHoverColor: #ab4d63;
$basebackcolor: white;
// // END BASE ------------------------------------------------


////////////////////////////////////////////
///// 		MIXINS
///////////////////////////////////////////////


////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////

// suggest you build some classes ahead of time which you can assign as required

// I almost always get rid of text decoration so why no just get rid of it by default?
a {
	text-decoration: none;
}

.italicIt {
	font-style: italic;
}

.boldIt {
	font-weight: 900;
}

.yellowHighlight {
	background: yellow;
}

.orangeHighlight {
	background: #ffbe74;
}

.crimsonWords {
	color: red;
}

