extends index.layout.030215.1.jade

block content	
	nav.selectMenu
		.naviPlacer
			// using .naviPlacer means I absolute position it and then I can always centre the .naviTab
			.naviTab Mode
		//- button.characters Characters
		// we'll want to make use of the Amazon Product Advertising API for these sections
		button.comics Comics
		button.movies Movies
		button.tvshows TV Shows
	main.wrapper
		section.showcase
			+characterEntry1
			+characterEntry1
			+characterEntry1
		section.displayDisc#spinner
			figure#spinner
				// the section.displayDisc will be oval if possible... adjusted using skew
				// by default I want no comics showing... also allows animation to reveal it with more drama
				//- +exploreUnit1
				//- +exploreUnit1
				//- +exploreUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
				//- +movieUnit1
	// we place modal here because we want it positioned relative to the body
	+modalDetails1
	// a status box for user display messages
	aside.statusBox
		p This is your default status message.