//- ===================================
//- 		MIXINS PROJECT
//- ===================================

//- These mixins are specific to this project only.
//- move mixins here only if they are required in other sections of the site

mixin superheroNameTest1
	////////////////////////////////////////////
	// 		SUPER HERO NAME TEST 1
	//////////////////////////////////////////
	section.nameTest
		ul.nameList
	////////////////////////////////////////////
	// 		END SUPER HERO NAME TEST 1
	////////////////////////////////////////////
	

//- END MIXINS PROJECT 