// SCRIPTS
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')

// test scripts should be placed second last
script(type='text/javascript', src='./js/test.051215.1.js')
//- where your custom scripts file is always last
script(type='text/javascript', src='./js/scripts.js')
