// SCRIPTS
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')

////////////////////////////////////////////
// 		jQuery UI
////////////////////////////////////////////
link(rel="stylesheet", href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
script(src="http://code.jquery.com/ui/1.11.4/jquery-ui.js")
////////////////////////////////////////////
// 		END jQuery UI
////////////////////////////////////////////

////////////////////////////////////////////
// 		DATE AND TIME
/////////////////////////////////////////

script(type='text/javascript', src='./js/moment.js')
script(type='text/javascript', src='./js/moment-with-locales.min.js')

////////////////////////////////////////////
// 		END DATE AND TIME
////////////////////////////////////////////

////////////////////////////////////////////
// 		XML TO JSON CONVERSION
/////////////////////////////////////////
// must be placed before all other custom scripts

// Credit:  http://www.kawa.net/works/js/jkl/parsexml-e.html
// var url = "zip-e.xml";
    var xml = new JKL.ParseXML( url );
    var data = xml.parse();
    document.write( data["items"]["item"]["us_state"] );
    document.write( data.items.item.us_state );
script(type='text/javascript', src='./js/jkl-parsexml.js')

// use the method xml2json.parser() to convert your XML
// Credit:  http://www.thomasfrank.se/xml_to_json.html
script(type='text/javascript', src='./js/xml2json.js')
////////////////////////////////////////////
// 		END XML TO JSON CONVERSION
////////////////////////////////////////////

////////////////////////////////////////////
// 		AMAZON API
/////////////////////////////////////////
// hash generation script for Amazon API
// usage:  hash = hex_sha256("test string");
script(type='text/javascript', src='./js/sha256.js')
script(type='text/javascript', src='./js/sha2.js')
////////////////////////////////////////////
// 		END AMAZON API
////////////////////////////////////////////

////////////////////////////////////////////
// 		TOOLTIP TEMPLATES
////////////////////////////////////////////
//- script(id='comicModeTipTemplate1', type='text/template')
////////////////////////////////////////////
// 		END TOOLTIP TEMPLATES
////////////////////////////////////////////

// test scripts should be placed second last
script(type='text/javascript', src='./js/test.051215.1.js')
//- where your custom scripts file is always last
script(type='text/javascript', src='./js/scripts.js')
